__pycache__/
*.py[cod]
*$py.class
*.pyc
.venv/
.pytest_cache/
*.egg-info/
dist/
build/
*.so
logo/
matlab/
scripts/
pypi_request.txt
*.log
scratch/
figures/
examples/**/figures/
examples/**/*.tif
examples/**/*.tiff
paper.md
paper.bib
CONTRIBUTING.md
/tmp/

# Ignore all PNG images everywhere across the repo
*.png

# EXCEPT for the specific images used in the README documentation
!images/*.png
